NODE_ENV=dev
SERVICE_NAME=webpop
SERVER_PORT=3007
PORT=3007

JWT_SECRET=
GOOGLE_CLIENT_ID=

DATABASE_URL=
REDIS_URL=

# Firebase Admin initialized via FCM.json (Make sure FCM.json is in the root)

CONSOLE_LOG_LEVEL=debug
FILE_LOG_LEVEL=error
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
